# Ignore all migration files
*/migrations/*.py
!*/migrations/__init__.py

# Ignore the database file (assuming you are using SQLite)
db.sqlite3

# Ignore __pycache__ directories and .pyc files
__pycache__/
*.pyc
*.pyo
*.pyd

media/
