.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f7f7f7;
}

.comments-heading {
  font-size: 2.5rem;
  font-weight: 900;
  color: #484848;
  text-align: center;
  margin-bottom: 2rem;
}

.comments-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.comment-item {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comment-author,
.comment-content,
.comment-rating,
.comment-date {
  font-size: 1rem;
  font-weight: 500;
  color: #484848;
  margin-bottom: 0.5rem;
}

.comment-author {
  font-size: 1.2rem;
  font-weight: 700;
}

.comment-rating {
  font-size: 1.1rem;
  font-weight: 600;
  color: #008489;
}

.no-comments-message {
  font-size: 1.5rem;
  font-weight: 600;
  color: #767676;
  text-align: center;
  margin-top: 1rem;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.pagination-button {
  background-color: #ffffff;
  color: #484848;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid #484848;
  cursor: pointer;
  margin: 0 0.5rem;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.pagination-button:hover {
  background-color: #008489;
  color: #ffffff;
  border-color: transparent;
}

.pagination-button:disabled {
  background-color: #ccc;
  color: #ffffff;
  border-color: transparent;
  cursor: not-allowed;
}
