.container {
  padding: 0 8%;
}

.container p {
  margin-bottom: 15px;
  font-weight: bolder;
}

.container1 {
  padding: 2rem;
  align-items: flex-start; /* Add this line */
  flex-wrap: wrap;
  flex-direction: column; /* Add this line */
  width: 100%;
}

.container1 p {
  margin-bottom: 15px;
  font-weight: bolder;
}

.search-bar {
  background: #fff;
  width: 100%;
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  flex-direction: column;
}

.search-bar form {
  display: flex;
  align-items: center; /* Add this line */
  flex-wrap: wrap;
  flex-direction: column; /* Add this line */
  width: 100%;
}

.search-bar form label {
  text-align: center;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 230px;
}

.search-bar form input,
.search-bar form select {
  align-self: flex-end;
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  outline: none;
  background: transparent;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  color: #4a4d6a;
  margin-top: 5px;
  width: 400px;
}

.search-bar form button {
  background: #6c98c6;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  padding: 10px 20px; /* Add padding */
  border-radius: 5px; /* Add border radius */
  color: #fff; /* Add text color */
  font-weight: 600; /* Add font weight */
}

.search-bar form button:hover {
  background: #4c81b6;
}

.search-bar form button img {
  width: 20px;
  margin-top: 5px;
}