.container {
  padding: 0 8%;
}

.container p {
  margin-bottom: 15px;
  font-weight: bolder;
}

.container1 {
  background-color: #f7f7f7;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.container1 h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

.search-bar {
  background-color: white;
  width: 100%;
  max-width: 950px;
  margin: 1rem 0;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.search-bar form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  
}

.search-bar form label {
  font-weight: bold;
  font-size: 1.2rem;
  width: 200px;
  text-align: right;
}

.search-bar form input,
.search-bar form select {
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  outline: none;
  background: transparent;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  color: #4a4d6a;
  margin-top: 5px;
}

.search-bar form select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
  background-size: 16px;
  padding-right: 24px;
}

.search-bar form button {
  background-color: #ff5a5f;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  margin-top: 10px;
  margin-left: auto;
}

.search-bar form button:hover {
  background-color: #ff4348;
}

.search-bar form button img {
  width: 20px;
  margin-top: 5px;
}

.search-result {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  color: #4a4d6a;
  width: 100%;
}

.result-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  bottom: 1;
  right: 1;
}

.result-content h3 {
  font-weight: 550;
  color: #333333;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: left;
}

.result-content h2{
  font-weight: 300;
  color: #333333;
  font-size: 17px;
  margin-top: 0px;
  text-align: left;
}

.result-content p {
  text-align: right;
  font-size: 18px;
  margin: 1px 0;
}



.search-result:hover {
  background-color: #f7f7f7;
}

.result-content {
  flex: 1;
  margin-right: 20px;
}

.property-image {
  max-width: 300px;
  margin-right: 20px;
}

.result-content .view-button {
  background-color: #6c98c6;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  max-width: 150px;
}

.view-button:hover {
  background-color: #4c81b6;
}

.logged-main-page {
  background-color: #f7f7f7;
}
