* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.reservation {
    background-color: lightgray;
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
    padding: 0 95px;
    width: 100%;
    height: 100vh;
    position: relative;
    min-height: 700px;
}

.list-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.prop-lists {
    flex-basis: 65%;
}

.prop-lists h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color:#333333;
    font-size: 70px;
}

.add-button {
    color: #fff;
    padding: 15px 50px;
    background: #ff5361;
    border: 1px;
    border-radius: 8px;
    margin: 30px auto;
    margin-top: 20pt;
}

.add-button:hover {
    background: #ff5351;
    color: #333333;
    cursor: pointer;
}

/* Other CSS rules... */

@media only screen and (max-width: 700px) {
    .list-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .filter-bar {
        width: 100%;
    }
}