nav{  
    background: #394159;  
    width: 100%;  
    padding: 10px 1%;  
    display: flex;  
    align-items: center;  
    justify-content: left;  
    position: relative;  
}  
.logo{  
    width: 160px;  
}  
.bell{  
    width: 30px;  
    transform:translateY(5px);  
}  
.bell:hover{  
    cursor: pointer;  
  
}  
.user-pic{  
    width: 40px;  
    border-radius: 50%;  
    margin-left: 20px;  
    cursor: pointer;  
}  
nav ul{  
    text-align: right;  
    width: 100%;  
}  
nav ul li{  
    display: inline-block;  
    margin: 10px 20px;  
}  
nav ul li a{  
    color: #fff;  
    text-decoration: none;  
}  
.sub-menu-wrap{  
    position: absolute;  
    top: 90%;  
    right: 0%;  
    width: 320px;  
    max-height: 0px;  
    overflow: hidden;  
    z-index: 999;  
    transition: max-height 0.5s;  
    background: #e5e5e5;  
}  
.sub-menu-wrap.open-menu{  
    max-height: 400px;  
}  
  
.sub-menu{  
    background: #fff;  
    padding: 20px;  
    margin: 7.5px;  
}  
.user-info{  
    display: flex;  
    align-items: center;  
}  
.user-info h3{  
    font-weight: 500;  
}  
.user-info img{  
    width: 60px;  
    border-radius: 50%;  
    margin-right: 15px;  
}  
.sub-menu hr{  
    border: 0;  
    height: 1px;  
    width: 100%;  
    background: #ccc;  
    margin: 15px 0 10px;  
}  
  
.sub-menu-link{  
    display: flex;  
    align-items: center;  
    text-decoration: none;  
    color: #525252;  
    margin: 12px 0;  
}  
.sub-menu-link p{  
    width: 100%;  
}  
.sub-menu-link img{  
    width: 40px;  
    background: #e5e5e5;  
    border-radius: 50%;  
    padding: 8px 8px;  
    margin-right: 15px;  
}  
.sub-menu-link span{  
    font-size: 22px;  
    transition: transform 0.5s;  
}  
.sub-menu-link:hover span{  
    transform: translateX(5px);  
}  
.sub-menu-link:hover p{  
    font-weight: 600;  
}  
.notify-wrap{  
    position: absolute;  
    top: 90%;  
    right: 0%;  
    width: 320px;  
    max-height: 0px;  
    overflow: hidden;  
    z-index: 998;  
    transition: max-height 0.5s;  
    background: #e5e5e5;  
}  
.notify-wrap.open-menu{  
    max-height: 800px;  
}  
  
.notify{  
    background: #fff;  
    padding: 20px;  
    margin: 10px;  
}  
  
.notify hr{  
    border: 0;  
    height: 1px;  
    width: 100%;  
    background: #ccc;  
    margin: 15px 0 10px;  
}  
  
.notify-link{  
    display: flex;  
    align-items: center;  
    text-decoration: none;  
    color: #525252;  
    margin: 12px 0;  
}  
.notify-link p{  
    width: 100%;  
}  
.notify-link img{  
    width: 50px;  
    background: #e5e5e5;  
    border-radius: 80%;  
    padding: 8px;  
    margin-right: 15px;  
}  
.notify-link span{  
    font-size: 22px;  
    transition: transform 0.5s;  
}  
.notify-link:hover span{  
    transform: translateX(5px);  
}  
.notify-link:hover p{  
    font-weight: 600;  
}  
  
@media only screen and (max-width: 800px){  
    nav {  
        display: block;  
        text-align: center;  
    }  
    nav ul{  
        display: block;  
        text-align: center;  
    }  
  
    .sub-menu-wrap{  
       top: 100%;  
  
    }  
    .notify-wrap{  
       top: 100%;  
         
    }  
}  