* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f0f2f5;
}

.profile {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-image: linear-gradient(rgba(240, 242, 245, 0.5), rgba(240, 242, 245, 0.5)), url('../images/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.profile_left,
.profile_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 1px solid #e0e7ff;
  border-radius: 10px;
  padding: 30px;
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex: 1;
  max-width: 450px;
  min-height: 500px;
}

.upload-avatar-label {
  margin-top: 20px;
  margin-left: 170px;
}


.profile_pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #6c98c6;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-btn-field {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.profile-btn-field button {
  text-decoration: none;
  display: inline-block;
  color: #ffffff;
  font-size: 24px;
  border: 2px solid #6c98c6;
  padding: 10px 50px;
  border-radius: 50px;
  background-color: #6c98c6;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

.profile-btn-field button:hover {
  background-color: #4c81b6;
  border-color: #4c81b6;
}

.input-pair {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.input-pair p {
  margin: 10px;
  min-width: 150px;
  font-weight: 500;
  color: #4c4e61;
}

.input-pair input {
  flex: 1;
  width: 250px;
  background: transparent;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  outline: 0;
  padding: 18px 15px;
  color: #4c4e61;
  font-weight: 500;
  transition: 0.3s;
}

.input-pair input:focus {
  border-color: #6c98c6;
}

.upload-avatar-label {
  display: inline-block;
  background-color: #008CBA;
  color: #ffffff;
  border: none;
  text-align: center;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition-duration: 0.4s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

.upload-avatar-label:hover {
  background-color: #006994;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


@media only screen and (max-width: 1400px) {
  .profile_left {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 1200px) {
  .profile_left,
  .profile_right {
    width: calc(50% - 15px);
  }
  .profile_left {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    height: auto; 
    padding: 50px 0;
  }
  .profile_left,
  .profile_right {
    width: 100%;
    margin: 30px 0;
  }
}


