* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  padding: 0 95px;
}

.prop-title {
  margin-bottom: 1em;
}

.picture {
  margin-bottom: 1em;
}

.image-wrapper {
  flex: 1;
  margin: 0 5px;
}

.property-image {
  max-width: 40%;
  border-radius: 12px;
}

.reservation {
  background-color: lightgray;
  padding: 1em;
  margin-bottom: 2em;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.reservation-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.reservation-form input[type="date"] {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.reservation-form button {
  padding: 0.5em 1em;
  background-color: #ff5361;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.reservation-form button:hover {
  background-color: #ff5351;
  color: #333333;
  text-decoration: none;
}

.comment {
  margin-bottom: 2em;
}

.comment-item {
  margin-bottom: 1em;
}

.error-message {
  color: red;
  margin-bottom: 1em;
}

.checkin-form {
  display: flex;
  align-items: center;
  gap: 1em;
}

.reservation-input {
  display: flex;
  flex-direction: column;
}

.checkin-form input[type="date"] {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  padding: 0.5em 1em;
  background-color: #ff5361;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #ff5351;
  color: #333333;
  text-decoration: none;
}

.property-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.list-details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.list-details {
  flex: 1;
  padding-right: 2rem;
}

.host-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.host-image {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}