*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.banner {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 500px;
	background-image: url("https://images.lifestyleasia.com/wp-content/uploads/sites/6/2022/02/18174834/USMRK-P0083-Lobby-1.16x9-1600x900.jpg?tr=w-1600");
	background-size: cover;
	background-position: center;
}

.banner-text {
	text-align: center;
	color: #fff;
}

.banner-text h1 {
	font-size: 48px;
	margin-bottom: 20px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.list-container{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.prop-lists{
    flex-basis: 65%;
}

.prop-lists h1{
    margin-bottom: 10px;
}

.banner-text p {
	font-size: 24px;
	margin-bottom: 40px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}


.button {
	display: inline-block;
	padding: 15px 30px;
	background-color: #f4a261;
	color: #fff;
	border: none;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	transition: background-color 0.2s;
}

.button:hover {
	background-color: #f3722c;
}

.my-stays {
	padding: 20px 20px;
	background-color: #f8f8f8;
}

.my-stays h2 {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 40px;
	color: #333;
}

.stay {
	text-decoration: none;
	color: #333;
	background-color: #f8f8f8;
	padding: 20px;
	margin-bottom: 10px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.stay h3 {
	font-size: 20px;
	margin-bottom: 10px;
}

.stay p {
	font-size: 16px;
	margin-bottom: 10px;
}

.stay {
	display: flex;
	align-items: center;
	border: 1px solid #ebebeb;
	border-radius: 4px;
	padding: 16px;
	margin-bottom: 16px;
	background-color: #ffffff;
  }
  
  .stay-image {
	flex: 0 0 120px;
	margin-right: 16px;
  }
  
  .stay-image img {
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 4px;
  }
  
  .stay-details {
	flex: 1;
	align-items: flex-start;
	margin-right: 10;
	color: #333333;
  }
  
  .stay-details h3 {
	margin-right: 70px;
  }

  .stay-details p {
	margin-right: 70px;
  }

  
  .button-state-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 9px;	
  }
  
  .reservation-state {
	margin-top: 5px;
	margin-right: 7px;
	color: #007bff;
  
  }

  .cancel-button {
	display: inline-block;
	background-color: #ff5a5f;
	color: #ffffff;
	border: none;
	border-radius: 4px;
	padding: 8px 16px;
	font-size: 14px;
	cursor: pointer;
  }
  
  .cancel-button:hover {
	background-color: #ff767c;
  }

  .popup-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
  }

  .popup button {
	display: inline-block;
	background-color: #ff5a5f;
	margin: 7px;
	color: #ffffff;
	border: none;
	border-radius: 4px;
	padding: 8px 16px;
	font-size: 14px;
	cursor: pointer;
  }

  .popup button:hover {
	background-color: #ff767c;
  }
  
  .popup {
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	width: 80%;
	max-width: 400px;
  }