*{  
    margin: 0;  
    padding: 0;  
    font-family: 'Poppins', sans-serif;  
    box-sizing: border-box;  
}  
  
  
.signup-container{  
    width: 100%;  
    height: 100vh;  
    background-image: url('../images/login_background.jpg');
    background-repeat: no-repeat;  
  
    background-position: center;  
    background-size: cover;  
    position: relative;  
    min-height: 700px;  
}  
  
.login-form-box{  
    width: 90%;  
    max-width: 450px;  
    position: absolute;  
    top: 50%;  
    left: 50%;  
    transform: translate(-50%,-50%);  
    background: #fff;  
    padding: 50px 60px 70px;  
    text-align: center;  
    align-items: center;  
    border-radius: 10%;  
    background: rgba(256, 256, 256, 0.98);  
}  
.login-form-box h1{  
    font-size: 30px;  
    margin-bottom: 30px;  
    color: #333;  
    position: relative;  
}  
.login-form-box h1::after{  
    content: '';  
    width: 50px;  
    height: 4px;  
    border-radius: 3px;  
    background: #394159;  
    position: absolute;  
    bottom: -12px;  
    left: 50%;  
    transform: translateX(-50%);  
}  
  
  
  
.input-field{  
    background: #eaeaea;  
    margin: 15px 0;  
    border-radius: 3px;  
    display: flex;  
    align-items: center;  
    height: 55px;  
    transition: max-height 0.5s;
    width: 80%;
    overflow: hidden;  
}  
input{  
    width: 100%;  
    background: transparent;  
    border: 0;  
    outline: 0;  
    padding: 18px 15px;  
}  
.input-field i{  
    margin-left: 15px;  
    color: #999;  
}  
  
.login-form p{  
    text-align: left;  
    font-size: 15px;  
}  
.login-form p a{  
    text-decoration: none;  
    color: #3c00a0;  
}  
  
.signup-btn-field{  
    width: 100%;  
    display: flex;  
    justify-content: center;  
}  
  
.signup-btn-field button{  
    text-decoration: none;  
    display: inline-block;  
    color: #394159;  
    font-size: 24px;  
    border: 2px solid #6C98C6;  
    padding: 10px 50px;  
    border-radius: 50px;  
    margin-top: 20px;  
    background: transparent;  
    cursor: pointer;  
    position: relative;  
    overflow: hidden;  
    margin-top: 0px;
}  
  
.signup-btn-field button span {  
    background: #6C98C6;  
    height: 100%;  
    width: 0;  
    border-radius: 25px;  
    position: absolute;  
    left: 0;  
    bottom: 0;  
    z-index: -1;  
    transition: 0.5s;  
  
}  
  
.signup-btn-field button:hover span{  
    width: 100%;  
}  
  
  
  
.input-group{  
    height: 280px;  
    display: flex;  
    flex-direction: column;  
    align-items: center;  
    margin-bottom: -80px;  
}  
  
.input-group2{  
    height: 280px;  
    display: flex;  
    flex-direction: column;  
    align-items: center;  
    margin-bottom: -10px;  
}  
  
.login_logo{  
    width: 80px;  
    height: 80px;  
    border-radius: 15%;  
    overflow: hidden;  
    border: 5px solid #fff;  
  
}  
  
.remember{  
    display: flex;  
    flex-direction: row;  
    align-items: center;  
    justify-content: space-between;  
  
      
}  
  
label{  
    width: 300px;  
    transform: translateX(-80px);  
}

.error-text {
    font-size: 12px;
    color: red;
    margin: 0;
    padding: 0;
  }
  